:root{
    --backgroundColour : #201f23;  
    --fontColour : #b5b2a6;
    --borderColour : #b5b2a6;
    --switchButtonColour : #201f23;
    --switchButtonColourActive : #0d2b45;
    --cellSize : 32px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", serif; /* Font to use */
    background-color: var(--backgroundColour);
}

.header {
    width: 100%;
    padding: 10px;
    min-height: 100px;
    text-align: center;
    flex-direction: column;
}

.header h1 {
    margin: auto;
    width: 70%;
    padding: 10px;
    text-align: center;
    font-size: 60px;
    border: 3px solid var(--borderColour);
    border-radius: 20px;
}

body {
    display: flex;
    flex-direction: column;  /* Stack sections vertically */
    justify-content: flex-start;  /* Align items to the top */
    align-items: center;  /* Center items horizontally */
    height: 100vh;
    margin: 0;
    overflow-y: auto; 
}

.displayText {
    color: var(--fontColour);
}

.board {
    border: 10px solid var(--borderColour);
    display: flex;
    flex-direction: column;  /* Ensure the rows are stacked vertically */
    margin-top: 30px;
}

.row {
    display: flex;  /* Ensure the row acts as a flex container for alignment */
}

.row img {
    display: block;  /* Prevents extra spacing caused by inline-block rendering */
    margin: 0;  /* Remove all margin */
    padding: 0;  /* Remove padding */
}

.cell {
    width: var(--cellSize);
    height: var(--cellSize); /* Define explicit height to prevent inconsistencies */
    margin: 0; /* Remove any margin between cells */
    padding: 0; /* Remove padding */
}

.turnDisplay {
    margin-top: 20px; /* Ensure space between the board and the turn display */
    text-align: center;
    font-size: 40px;
}

.switchButton {
    margin-top: 10px;
    font-size: 20px;
    border: 5px solid var(--borderColour);
    border-radius: 30px;
    padding: 0% 20px;
    transition: 0.2s;
    background-color: var(--switchButtonColour);
    color: var(--fontColour);
}

.switchButton:hover {
    font-size: 30px;
    font-weight: 1000;
    cursor: pointer;
    text-decoration: underline;
    color: var(--fontColour);
}

.turnDisplay {
    font-size: 20px;
    border: 3px solid var(--borderColour);
    border-radius: 30px;
    padding: 0% 20px;
}